.job-post{
    width: 100%;
    display:flex;
    background: var(--color-light-grey);
    @include respond(phone){
        flex-direction: column;
        height: 100vh;
    }

    &__aside{
        height: 88vh;
        flex:0 1 30rem;

        @include respond(tab-port){
            flex-basis: 20rem;
        }
        @include respond(phone){
            flex-basis: 0;
            position: sticky;
            top: 0;
            background: var(--color-light-grey);
            box-shadow: 0 2px 1.4rem var(--color-light-grey);
        }

    }   

    &__content{
        flex: 1;
        overflow-y: auto;
    }

    &__aside,
    &__content{
        padding: 1em;
    }

    &__list{
        list-style: none;
        @include respond(phone){
            width: 85%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__item:not(:last-child){
        margin-bottom: 1rem;
        @include respond(phone){
           margin: 0;
        }
    }
}